* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
.small-container{
	max-width: 1080xpx;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}
.title{
	text-align: center;
	margin: 20px auto 80px;
	position: relative;
	line-height: 60px;
	color: #000;
}
.title::after{
	content: '';
	background: #68773b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%)
}
.row-2{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 25%;
	padding: 10px;
	mid-width: 200px;
	margin-bottom: 50px;
	transition:transform 0.5s;
}
.col-2 img{
	width: 100%;
}
.col-2 img:hover{
    opacity: 0.5;
}
.col-2 h4{
    color:  #000;
    font-weight: normal;
    text-align: center;
}
.col-2:hover{
	transform: translateY(-5px);
}
.col-3{
	flex-basis: 50%;
	mid-width: 260px;
	padding-left: 50px;
}
.col-3 img{
	max-width: 100%;
	padding:25px 0;
}
.col-3 p{
	max-width: 100%;
	padding-left: 0px;
	padding-right: 150px;
}
.col-3 h1{
	font-size:45px;
	line-height: 60px;
	margin:10px 0;
}
.btn{
	display: inline-block;
	background: #68773b;
	color: #fff;
	padding: 8px 30px;
	margin: 20px 0;
	border: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #829743;
}
.bg-white {
	background-color: lightcyan;
}
.p-5 {
	padding: 5px;
}
.p-20 {
	padding-left: 20px;
	padding-right: 5px;
}
.center {
	text-align: center;
}
.float-right {
	float: right;
}
.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mb-10 {
	margin-bottom: 20px;
}
.about_us_bg {
	background-image: url("about_us_bg.jpg");
	padding: 30px;
}
.work {
	text-align: left;
	color: #000;
}